.ranking {
    padding-top: 110px;
    text-align: center;
}
.navbar-ranking{
    background-color: rgb(156, 189, 236);
    border: 5px;
    border-color: red;
}
.button-rank{
    width: 125%;
    height: 50px;
    background-color: rgba(40, 40, 74, 0.726) !important;
}