.table {
    text-align: center;
}
.groups{
    background-color: #eeeee4;
    font-style: initial;
    padding-top: 50px;
}
#group-team{
    background-color: #9aecffa3;
}
.icon{
    width: 20px;
}
.line {
    width: 100%;
    height: 0px;
    border: 0.5px solid rgba(224, 27, 27, 0.778);
    margin: 15px;
    display:inline-block;
}
th.pointer{
    cursor: pointer;
}
li{
    list-style-type: none;
}
.icon{
    border-radius: 15%;
}
