.navbar {
    width: 790px;
    height: 50px;
    display: flex;
}

.navItem {
    text-align: center;
    flex: 1;
    font-size: 16px;
    padding-top: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.navItem:hover {
    background-color: rgb(37,154,190);
    cursor: pointer;
}

.navItem:focus {
    background-color: rgb(37,154,190);
    cursor: pointer;
}
