.Statistics {
    margin: auto;
    max-width: 790px;
    margin-top: 70px;
    border: 0.5px solid rgba(0,0,0,.12);
    font-family: Arial;
    padding-bottom: 15px;
}

.loopStat1 {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 15px;
}

.opening1 {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
}

.opening2 {
    padding-left: 8px;
    color: #70757a;
    font-size: 12px;
    font-weight: normal;
    display: grid;
    grid-template-columns: repeat(2, min-content);
}

.category2 {
    margin-left: 500px;
    width: 200px;
    text-align: right;
}

a {
    text-decoration: none;
}

.loopStat2 {
    display: grid;
    grid-template-rows: repeat(min-content);
    grid-row-gap: 15px;
    margin-top: 8px;
}

.body {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    border: 0.5px solid rgba(0,0,0,.12);

    padding-left: 15px;
    border-left: 0cm;
    border-bottom: 0cm;
    border-right: 0cm;
    height: 40px;
}

.bodyRank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:black;
}

.bodyImage {
    border-radius: 50%;
    width: 45px;
    margin-left: 20px;
    margin-top: 6px;
}

.bodyNation {
    margin-top: 9px;
    margin-left: 15px;
}

.name {
    width: 300px;
    font-size: 15px;
    color: black;
}

.nation {
    margin-top: 4px;
    display: grid;
    grid-template-columns: repeat(2, min-content);
}

.nationImage {
    width: 16px;
    height: 16px;
}

.nationName {
    width: 300px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #70757a;
}

.bodyGoals {
    margin-left: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
}
