.Matchs{
    text-align: center;
}
.Matchs-body{
    background-color: beige;
}

.link-team{
    text-decoration: none;
    color: black !important;
}
.link-team:hover{
    color: black !important;
}
.hover:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
#card-header{
    background-color: #b2b6d0;
}